<div id="tabs-section">
  <div class="page-width">
    <ul class="shopify-tabs">
      {% if section.settings.tabh1 != blank %}
        <li class="current" data-tab="tab1">{{ section.settings.tabh1 }}</li>
      {% endif %}
      {% if section.settings.tabh2 != blank %}
        <li data-tab="tab2">{{ section.settings.tabh2 }}</li>
      {% endif %}
      {% if section.settings.tabh3 != blank %}
        <li data-tab="tab3">{{ section.settings.tabh3 }}</li>
      {% endif %}
      {% if section.settings.tabh4 != blank %}
        <li data-tab="tab4">{{ section.settings.tabh4 }}</li>
      {% endif %}
    </ul>
    {% if section.settings.tabc1 != blank %}
      <div id="tab1" class="shopify-tab-content current">
      {{ section.settings.tabc1 }}
    </div>
     {% endif %}
    {% if section.settings.tabc2 != blank %}
      <div id="tab2" class="shopify-tab-content">
      {{ section.settings.tabc2 }}
    </div>
     {% endif %}
    {% if section.settings.tabc3 != blank %}
      <div id="tab3" class="shopify-tab-content">
      {{ section.settings.tabc3 }}
    </div>
     {% endif %}
    {% if section.settings.tabc4 != blank %}
      <div id="tab4" class="shopify-tab-content">
      {{ section.settings.tabc4 }}
    </div>
     {% endif %}
  </div>
</div>
<style>
  div#tabs-section {
    display: block;
    width: 100%;
    margin: 5rem 0rem;
}
ul.shopify-tabs:before {
    content: '';
    position: absolute;
    bottom: 0%;
    border-bottom: 3px solid #f0f0f0;
    display: block;
    width: 100%;
    height: 3px;
    z-index: -1;
}
ul.shopify-tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    list-style: none;
}
ul.shopify-tabs > li{
    background: none;
    color: #333;
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
    cursor: pointer;
}
ul.shopify-tabs > li.current{
   background: #fff;
    color: #333;
    font-weight: 600;
    border: 3px solid #f0f0f0;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.shopify-tab-content{
    display: none;
/*     background: #f0f0f0; */
    padding: 15px;
}
.shopify-tab-content.current{
    display: block;
    border: 3px solid #f0f0f0;
    border-top: none;
}
  @media (max-width:767px){
    ul.shopify-tabs > li{
      display:block;
      width:100%;
    }
  }
</style>
{% schema %}
  {
    "name": "Horizontal Tabs",
    "settings": [
       {
          "type": "text",
          "id": "tabh1",
          "label": "Tab Heading"
        },
       {
          "type": "richtext",
          "id": "tabc1",
          "label": "Tab1 Content"
        },
       {
          "type": "text",
          "id": "tabh2",
          "label": "Tab Heading"
        },
      {
          "type": "richtext",
          "id": "tabc2",
          "label": "Tab2 Content"
        },
      {
          "type": "text",
          "id": "tabh3",
          "label": "Tab Heading"
        },
       {
          "type": "richtext",
          "id": "tabc3",
          "label": "Tab3 Content"
        },
        {
            "type": "text",
            "id": "tabh4",
            "label": "Tab Heading"
        },
        {
            "type": "richtext",
            "id": "tabc4",
            "label": "Tab4 Content"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}