<div id="tabs-section">
  <div class="page-width">
    <ul class="shopify-tabs">
      <li class="current" data-tab="tab1">{{ section.settings.tabh1 }}</li>
      <li data-tab="tab2">{{ section.settings.tabh2 }}</li>
      <li data-tab="tab3">{{ section.settings.tabh3 }}</li>
      <li data-tab="tab4">{{ section.settings.tabh4 }}</li>
    </ul>
    <div id="tab1" class="shopify-tab-content current">
      {{ section.settings.tabc1 }}
    </div>
    <div id="tab2" class="shopify-tab-content">
      {{ section.settings.tabc2 }}
    </div>
    <div id="tab3" class="shopify-tab-content">
      {{ section.settings.tabc3 }}
    </div>
    <div id="tab4" class="shopify-tab-content">
      {{ section.settings.tabc4 }}
    </div>
  </div>
</div>
<style>
ul.shopify-tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.shopify-tabs > li{
    background: none;
    color: #333;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}
ul.shopify-tabs > li.current{
    background: #f0f0f0;
    color: #333;
}
.shopify-tab-content{
    display: none;
    background: #f0f0f0;
    padding: 15px;
}
.shopify-tab-content.current{
    display: block;
}
</style>
{% schema %}
  {
    "name": "Horizontal Tabs",
    "settings": [
       {
          "type": "text",
          "id": "tabh1",
          "default": "tab1",
          "label": "Tab Heading"
        },
       {
          "type": "richtext",
          "id": "tabc1",
          "label": "Tab1 Content"
        },
       {
          "type": "text",
          "id": "tabh2",
          "default": "tab2",
          "label": "Tab Heading"
        },
      {
          "type": "richtext",
          "id": "tabc2",
          "label": "Tab2 Content"
        },
      {
          "type": "text",
          "id": "tabh3",
          "default": "tab3",
          "label": "Tab Heading"
        },
       {
          "type": "richtext",
          "id": "tabc3",
          "label": "Tab3 Content"
        },
        {
            "type": "text",
            "id": "tabh4",
            "default": "tab4",
            "label": "Tab Heading"
        },
        {
            "type": "richtext",
            "id": "tabc4",
            "label": "Tab4 Content"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}