<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<div class="index-section{% if section.settings.alt %} index-section--alt{% endif %} {{section.settings.cus-blog}}">

  <div class="page-width" data-aos>
    {%- if section.settings.title != blank -%}
      <header class="section-header" data-aos>
        <h2 class="section-header__title appear-delay" style="color:{{section.settings.heading_color}};">
          {{ section.settings.title }}
        </h2>
        <h4 style="color:{{section.settings.subheading_color}};font-size:{{section.settings.text_size}}px;">{{ section.settings.subheading }}</h4>
      </header>
    {%- endif -%}

    <div class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} text-{{ section.settings.align_text }}" data-flickity='{"draggable": true, "cellAlign": "left", "contain": true,"freeScroll": true,"pageDots": false}'>
      {%- liquid
        assign grid_item_width = 'medium-up--one-third'
        -%}
        {%- comment -%}
        case section.blocks.size
          when 1
            assign grid_item_width = 'medium-up--one-half'
          when 2
            assign grid_item_width = 'medium-up--one-half'
          when 4
            assign grid_item_width = 'medium-up--one-quarter'
        endcase
      {%- endcomment -%}
      

      {%- for block in section.blocks -%}
        {%- if section.blocks.size == 5 and forloop.index < 3 -%}
          {%- assign column_width = 'medium-up--one-third' -%}
        {%- else -%}
          {%- assign column_width = grid_item_width -%}
        {%- endif -%}
        <div
          {{ block.shopify_attributes }}
          data-aos
          class="grid__item grid-column {{ column_width }} appear-delay-{{ forloop.index }}">
          {%- if block.settings.enable_image -%}
            {%- if block.settings.button_link != blank -%}
              <a href="{{ block.settings.button_link }}">
            {%- endif -%}
            {%- if block.settings.image != blank -%}
              <div style="max-width: {{ block.settings.image_width }}px;{% if section.settings.align_text == 'center' %} margin: 0 auto;{% endif %}">
                <div class="text-spacings" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 750, 900, 1080]"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ block.settings.image.alt }}">
                </div>
              </div>
            {%- else -%}
              <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {%- endif -%}
            {%- if block.settings.button_link != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
          {%- if block.settings.title != blank -%}
            <div class="h2">{{ block.settings.title }}</div>
          {%- endif -%}
          {%- if block.settings.text != blank -%}
            <div class="rte-setting text-spacing cus-texts">{{ block.settings.text }}</div>
          {%- endif -%}
          {%- if block.settings.button_label != blank -%}
          Explore - 
            <a href="{{ block.settings.button_link }}" class="btn-cus">
              {{ block.settings.button_label }}
            </a>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Image with text Carousel",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub Heading"
      },
      {
            "type": "color",
            "id": "subheading_color",
            "label": "Sub Heading Color"
      },
      {
            "type": "range",
            "id": "text_size",
            "label": "text size",
            "default": 20,
            "min": 10,
            "max": 100,
            "unit": "px"
          },
      {
        "type": "text",
        "id": "cus-blog",
        "label": "Custom Class"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
      {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
      {
        "type": "checkbox",
        "id": "alt",
        "label": "Use alternate section color"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text Carousel",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}